<<<<<<< HEAD
<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://www.railstutorial.org/contact">contact page</a>.
</p>
=======
<% provide :title, t("static_pages.contact.title") %>
<h1><%= t ".title" %></h1>
<%= t ".content_html" %>
>>>>>>> Chapter 6
